@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080C14;
  color: white;
}

/* Dot grid background pattern */
.dot-grid {
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}
